@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

:root{
    --color1: #55ceca;
    --color2: #000a42;
    --color3: #140d59;
    --color4: #993aed;
    --color5: #fff;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;

}

body{
    background-color: var(--color3);
}

header{
    background-color: var(--color2);
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

#logo a{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--color1);  
}

#logo_img{
    width: 5rem;
}

nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--color1);
}

nav ul li a:hover{
    color: var(--color4);
}
